#blog-Page>h1 {
    margin: 10px 0 0 0;
    color: #ccc;
}

.post-container {
    border: 2px #232323 solid;
    display: grid;
    background: transparent;
    max-height: 80vh;
    margin: 10px 5vw;
    width: 90vw;
    grid-template-columns: auto auto;
    overflow-y: auto;
}

.post {
    margin: 2.5vw;
    width: 40vw;
    border-radius: 10px;
    background-color: rgba(46, 46, 46, 0.8) ;
    height: 25vh;
    color: white;
    transition: all ease .3s;
}

.post:hover {
    box-shadow: 0 0 3px #aaaa;
}

.post-content {
    float: left;
    color: #f0f0f0;
    letter-spacing: .1em;
    padding: 3%;
}

.post-container::-webkit-scrollbar {
    visibility: hidden;
}

#footHRblog {
    width: 90vw;
    background-color:#f0f0f0;
    margin: 0 0 0 5vw;
}

#footer-blog {
    padding: 0 calc(5vw - 15px);
    height: 40px;
    float: right;
    bottom: 5%;
    width: 40%;
}