@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-20deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

html {
    height: 100%;
    scroll-behavior: smooth;
    overflow: hidden;
}

.contact-bar {
    padding: 1% 0;
    color: #fff;
    display: block;
    height: 40px;
    width: 100%;
}

.coll {
    display: none;
}

.contact-bar img {
    float: right;
    margin-right: 15px;
    height: 20px;
    width: 20px;
    transition: all ease 0.2s;
}

#contacts {
    animation-delay: 1s;
    animation: transitionIn 0.75s;
    position: relative;
}

.outer-container {
    top:0;
    z-index: 0;
    overflow-anchor: none;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    color: #fff;
    animation: transitionIn 1s;
}

#home {
    display: block;
    transition: all linear 1s;
    background-color: rgba(46, 46, 46, 0.3);
    background-image: linear-gradient(140deg,rgba(46, 46, 46, 0.3) 20%, rgba(0, 0, 0, 0.9));
}

#about-Page {
    display: none;
}

#blog-Page {
    display: none;
}

#Project-Page {
    display: none;
    background-color: rgba(46, 46, 46, 0.3);
    background-image: linear-gradient(140deg,rgba(46, 46, 46, 0.3) 20%, rgba(0, 0, 0, 0.8));
}

#CV-Page {
    display: none;
}

.container {
    display: block;
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
    transition: all ease 1s;
    width: 500px;
    height: 316px;
    /* animation-delay: 1s; */
    animation: transitionIn 2s;
}

#profile{
    border: #afafaf;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    max-width: 125px;
    max-height: 125px;

}
h2 {
    font-size: xx-large;
    letter-spacing: 3px;
    font-family: 'Anonymous Pro',"Lucida Console", Monaco, monospace;
    font-variant: small-caps;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    border: 0px;
    margin: 0px;
    text-shadow: 0 1px 1px rgb(1,2,3, 0.5);
    object-fit: cover;
}
h4 {
    font-size: large;
    font-family: monospace;
    font-variant:normal;
    font-style: italic;
    font-weight: 300;
    color: #9b9b9b;
    border: 0px;
    margin: 10px;
    text-shadow: 0 2px 2px rgb(1, 2, 3, 0.5);
    object-fit: cover;
}
hr {
    border: none;
    height:1px;
    background-color: #9b9b9b;
    /* box-shadow: 0 1px 1px rgb(255, 255, 255, 0.5); */
}

@media only screen and (max-width: 639px) {
    body {
        background-image: url('./img/cover3-small.jpg');
    }
}

@media only screen and (max-width: 1919px) {
    body {
        background-image: url('./img/cover3-small.jpg');
    }
}

body {
    background: url('./img/cover3.jpg') center center fixed no-repeat #666666;
    z-index: 2000;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding: 0;
    margin: 0;
    max-height: 100%;
    height: 100%;
    width: 100%;
    text-align: center;
    overflow-y: hidden;
}

.btn-containers>a {
    text-decoration: none;
    font-size: small;
    letter-spacing: 2px;
    margin: 0 10%;
    display: inline-block;
    border-radius: 8px;
    margin-bottom: 5px;
    font-family:'Courier New', Courier, monospace;
    font-variant:normal;
    font-style: italic;
    font-weight:bolder;
    color: #7ad6b9;
    border: 3px solid #7ad6b9;
    width: 100px;
    z-index:20;
    transition: all 0.5s;
    overflow: hidden;
    position: relative;
    background: transparent;
    cursor: pointer;
}


.btn-containers>a:before, .btn-containers>a:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #7ad6b9;
    top: -100%;
    left: 0;
    z-index: -1;
    transition: .3s;
}
.btn-containers>a:before {
    opacity: .5;
}

.btn-containers>a:after{
    transition-delay: 0.2s;
}
.btn-containers>a:hover {
    color: rgb(27, 27, 27);
}

.btn-containers>a:hover::before, a:hover::after {
    top:0;
}

.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

.rotate.up {
    -moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    transform:rotate(-90deg);
}

#k {
    display: block;
}

@media only screen and (max-width: 600px) {
    #k {
        display: none;
    }

    .contact-bar>#contacts {
        display: none;
    }

    .contact-bar a.coll{
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    .contact-bar .responsive{
        transition: all 1s;
        position: relative;
    }
    .contact-bar .responsive .coll {
        position: absolute;
        right:0;
        top:0;
    }

    .contact-bar.responsive>#contacts {
        float:none;
        display: block;
    }
}