.container3 {
    vertical-align: middle;
    text-align: left;
    color: #9b9b9b;
    padding: 5%;
    height: 80%;
}

#footer {
    padding: 5px 5%;
    height: 40px;
    float: right;
    bottom: 5%;
}

#footHR {
    width: 90%;
    background-color:#222;
    margin: 0 0 0 5%;
} 

.container3 h1 {
    margin: 0;
}

.container3 hr {
    background: linear-gradient(to left, transparent, #9b9b9b);
}

.content {
    overflow-y: auto;
}

.content hr {
    margin: 30px 0 0 0;
}

#title{
    margin: 10px 0 0 0;
    height: auto;
    font-size: 1.5em;
    padding: 2%;
    border-style: solid;
    border-width: 0 0 0 5px;
    border-color: cadetblue;
    transition: all ease 0.5s;
}

#title:hover {
    color: #ccc;
    border-width: 0 0 0 10px;
}

#desc {
    font-size: 1.2em;
    padding: 2%;
    margin: 0;
    top:0;
    border: none;
    background-color: #111111;
    transition: all ease 0.5s;
}

#desc:hover {
    color: #ccc;
}

#desc a {
    color:#555;
    text-decoration:none
}