@keyframes slideLeft {
    from {
        width:0;
    }
    to {
        width: 40vw;
    }
}

#blog-Page>h1 {
    margin: 10px 0 0 0;
    color: #ccc;
}

.post-container {
    border: 2px #232323 solid;
    display: flex;
    background: transparent;
    max-height: 80vh;
    margin: 10px 5vw;
    width: 90vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.post {
    margin: 2.5vh 2.5vw;
    width: 40vw;
    border-radius: 10px;
    background-color: rgba(46, 46, 46, 0.8) ;
    max-height: 25vh;
    height: auto;
    color: white;
    transition: all ease 1s;
    animation: slideLeft 1s;
}

.posts {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}

.post:hover {
    cursor: pointer;
    box-shadow: 0 0 3px #aaaa;
}

.post-content {
    width: 94%;
    text-align: left;
    color: #f0f0f0;
    letter-spacing: .1em;
    padding: 5% 3% 3% 3%;
}

.post-content .header {
    font-size: 1.5em;
}

.post-content .general {
    float: left;
    padding: 3vh 0 0 .5vw;
}

.post-content .general i {
    font-size: 0.5em; 
    vertical-align: middle;
}

.post-content hr {
    min-width: 100%;
}

.post-container::-webkit-scrollbar {
    visibility: hidden;
}

.post-body {
    margin: 2.5vh 2.5vw;
    width: 0;
    border-radius: 10px;
    background-color: rgba(46, 46, 46, 0.8);
    min-height: 70vh;
    height: fit-content;
    color: white;
    transition: all ease 1s;
}

#body-foot {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
    float: right;
    color: #9b9b9b;
}

#footHRblog {
    width: 90vw;
    background-color:#f0f0f0;
    margin: 0 0 0 5vw;
}

#footer-blog {
    padding: 0 calc(5vw - 15px);
    height: 40px;
    float: right;
    bottom: 5%;
    width: 70%;
}

@media only screen and (max-width: 700px)  {
    @keyframes slideLeft {
        from {
            width: 0;
        }
        to {
            width: 85vw;
        }
    }
    .post {
        width: 85vw;
    }

    .posts{
        grid-template-columns: auto;
    }
}