.post-body hr {
    margin: 1vh 0 0 0;
}

.post-body {
    text-align: left;
    padding: 10px;
}

.post-body .header {
    color: #f35454;
    font-size: 2em;
}

.gen-body {
    font-size: 1em;
    padding: 10px 2vw;
    font-family: Montserrat;
    font-weight: 400;
    min-height: 57vh;
}

.sub-header {
    padding: 10px 0 0 0;
    font-size: 1.5em;
    color: rgb(170, 149, 248);
}

.post-body a {
    cursor: default;
    padding: 0;
    margin: 0;
    text-decoration: none;
    float: left;
}

#post-foot {
    margin-bottom: 5px;
    background-color: rgb(61, 61, 61);
}

#body-foot {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
    float: right;
    color: #9b9b9b;
}